body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 화면 전체 높이로 설정 */
}

.ad-container {
    flex: 0 0 50px; /* 광고 컨테이너의 높이를 50px로 설정 */
    background-color: #f2f2f2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    flex: 0 0 100px; /* 높이를 조정하셔도 좋습니다 */
    background-color: #2196F3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-input {
    display: flex;
    margin-top: 16px;
}

.search-input input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
}

.search-input button {
    padding: 8px 16px;
    background-color: #1976D2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-input button:hover {
    background-color: #0D47A1;
}

.main-container {
    flex: 1; /* 남은 공간을 차지 */
    display: flex;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 방향 가운데 정렬 */
    flex: 1; /* 리스트 컨테이너와 비슷한 너비를 가지도록 설정 */
    background-color: #f2f2f2;
    padding: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-container p {
    font-weight: bold;
    margin-bottom: 8px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.checkboxes label {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}

.checkboxes label input[type="checkbox"] {
    margin-right: 8px;
    appearance: none; /* 기본 체크박스를 숨깁니다. */
    width: 16px;
    height: 16px;
    border: 2px solid #2196F3; /* 체크박스 테두리 색상 */
    border-radius: 4px; /* 체크박스 모서리를 둥글게 만듭니다. */
}

/* 체크된 상태의 체크박스 스타일 */
.checkboxes label input[type="checkbox"]:checked {
    background-color: #2196F3; /* 체크된 상태의 배경색 */
    border-color: #2196F3; /* 체크된 상태의 테두리 색상 */
}

/* 체크박스에 마우스를 올렸을 때의 스타일 */
.checkboxes label:hover input[type="checkbox"] {
    border-color: #1976D2; /* 마우스를 올렸을 때의 테두리 색상 */
}


.list-container {
    flex: 4; /* 리스트 컨테이너가 4:1 비율로 설정 */
    background-color: #f2f2f2;
    padding: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.list-item {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 8px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    cursor: pointer;
}

.list-item:hover {
    background-color: #f5f5f5;
}

.list-item img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
    border-radius: 50%;
}

.item-details {
    flex: 1;
}

.item-details h3 {
    margin-bottom: 4px;
    color: #212121;
}

.item-details p {
    margin: 0;
    color: #757575;
}

.group-name {
    color: #757575; /* 회색 투명하게 설정 */
}

.no-job-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.no-job-image {
    display: block; /* 이미지를 블록 요소로 설정하여 중앙 정렬을 적용할 수 있도록 합니다. */
    margin: 0 auto; /* 좌우 마진을 auto로 설정하여 가로축 중앙에 위치하도록 합니다. */
    width: 35%;
    height: auto;
    border-radius: 8px;
}

.no-job-text {
    font-size: 28px;
    color: #757575;
}
